/* UTILITIES * {
    font-family: 'Bebas Neue', cursive;
} */


/**** My Style ****/
header {
    height: 80px;
    z-index: 3;
}

.icon-down-sizing {
    height: 100%;
    width: 60%;
}

.logo-down-sizing {
    height: 50px;
    width: 100px;
}

/***jumbotrone***/
#giochi {
    padding-top: 120px;
}

#giochi #carouselExampleCaptions {
    z-index: 0
}

#carouselExampleCaptions .carousel-inner {
    background-color: rgba(0, 0, 0, 0.521);
}

/* #carouselExampleCaptions .carousel-indicators {
    background-color: rgba(0, 0, 0, 0.555);
} */
/****colors****/

.cust-bg-black-op {
    background-color: rgba(0, 0, 0, 0.74);
}

#results-games .row .col img {
    width: 100%;
    cursor: pointer;
}

#results .col img: {
    border: 2px solid rgb(236, 19, 110)
}

.cust-filter:hover {
    -webkit-filter: opacity(.7);
    filter: opacity(.7);
    border: 2px solid rgb(236, 19, 110);
}