/* UTILITIES * {
    font-family: 'Bebas Neue', cursive;
} */


/**** My Style ****/
header {
    height: 80px;
    z-index: 3;
}

.icon-down-sizing {
    height: 100%;
    width: 60%;
}

.logo-down-sizing {
    height: 50px;
    width: 100px;
}

main {
    padding-top: 20px;
}

/***jumbotron***/

#first-jumbo {
    padding-top: 220px;
    background-image: url(../img/jumbo-bg.png);
}

#second-jumbo {

    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbotron {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}



#giochi #carouselExampleCaptions {
    z-index: 0
}

#carouselExampleCaptions .carousel-inner {
    background-color: rgba(0, 0, 0, 0.521);
}

/****colors****/

.cust-bg-black-op {
    background-color: rgba(0, 0, 0, 0.74);
}

.cust-bg-gray {
    background-color: rgb(190, 188, 187);
}

.cust-bg-blue {
    background-color: rgb(5, 54, 117);
}

.cus-bg-footer {
    background-color: rgb(18, 21, 194);
}

.row .col .logo-down-sizing {
    width: 15%;
    object-fit: contain;
}

.row .col img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

#results .col img {
    border: 2px solid rgb(236, 19, 110)
}

.cust-filter:hover {
    border: 3px solid rgb(53, 78, 224);
}

/***footer***/
footer a {
    color: white;
    text-decoration: none;
}

footer .col-12 p #informazioni {
    color: white;
    text-decoration: solid;
}